<footer class="footer">
  <div class="container">
    <div class="small text-center">
      <p>
        Maintained by the
        <a href="" target="_blank">The Cooperative</a>
        with the help of
        <a href="" target="_blank">our contributors</a>.
      </p>

      <p>
        Code licensed under
        <a href="http://.mit-license.org/" target="_blank">MIT</a>, documentation under
        <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.
      </p>

      <p>
        <ul class="list-inline">
          <li><span>Currently v<%= Peatio::VERSION %></span></li>
          <li class="list-inline-item"><a href="https://github.com/jdowning100/peatio" target="_blank">GitHub</a></li>
          <li class="list-inline-item"><a href="c3398579ca053dd045334ae50a8e4015f0db3dcfeb316071966b7daa2f8fbe0da79672ddeea08bd33c49060c7f0a85c6d73df1e883dec7feae303388a28bc291" target="_blank">Documents</a></li>
          <li class="list-inline-item"><a href="https://coopex.markets/" target="_blank">About</a></li>
          <li class="list-inline-item"><a href="https://github.com/jdowning100/peatio/issues?state=open" target="_blank">Issues</a></li>
          <li class="list-inline-item"><a href="https://github.com/jdowning100/peatio/releases" target="_blank">Releases</a></li>
        </ul>
      </p>
    </div>
    <div class="clear-fix"></div>
  </div>
</footer>
